<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All My Books</title>
</head>
<body>

  <h1>Books</h1>
  <h4>List of books : </h4>
  <ul>
    <%  books.forEach( (book )=> { %>
      <li><a href="/<%= book.id %>"><%= book.title %></a>
        <form action="/<%= book.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE"/>
          <input type="submit" value="X"/>
        </form>
      </li>
    <% })  %>
  </ul>

</body>
</html>
